<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.sinyuk.jianyimaterial"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".application.Jianyi"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Jianyi">

        <!--MVP-->
        <activity
            android:name=".feature.CategoryView"
            android:launchMode="singleTop"
            android:theme="@style/Jianyi.Transparent"/>
        <activity
            android:name=".feature.login.LoginView"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".feature.register.RegisterView"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
        <activity
            android:name=".feature.details.DetailsView"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".feature.entry.EntryView"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.explore.ExploreView"
            android:launchMode="singleTop"
            />
        <activity
            android:name=".feature.offer.OfferView"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
        <activity
            android:name=".feature.profile.ProfileView"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <activity
            android:name=".feature.settings.SettingsView"
            android:label="@string/settings_label"
            android:launchMode="singleTop"/>

        <activity
            android:name=".feature.info.InfoView"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <activity
            android:name=".feature.needs.NeedsView"
            android:launchMode="singleTop"
            />

        <activity
            android:name=".feature.want.WantView"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
        <!--MVP-->

        <!--common-->
        <activity
            android:name=".common.WebViewActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
        <activity
            android:name=".common.PhotoViewActivity"
            android:launchMode="singleTop"
            android:theme="@style/Jianyi.FullScreenBlack"/>

        <activity
            android:name=".common.CustomErrorActivity"
            android:process=":error_activity">
            <intent-filter>
                <action android:name="cat.ereza.customactivityoncrash.ERROR"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".common.SearchActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <provider
            android:name=".utils.SuggestionProvider"
            android:authorities="com.sinyuk.jianyimaterial.utils.SuggestionProvider"/>
        <!--common-->

    </application>

</manifest>